.google1 {
    position: absolute;
    text-align: center;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.gil {
    font-size: 13px;
}
.gmail {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.image {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.signin{
    float: right;
    margin-right: 15px;
    background-color: rgb(113, 113, 255);
    border: rgb(113, 113, 255);
    color: white;
    padding: 5px 15px;

}
.serch{
    border-radius: 30px;
    border: solid 0.1px rgb(231, 231, 231);
    padding: 12px 130px;

}
.but {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    color: gray;
    padding: 10px 20px;
    border: rgb(231, 231, 231);
}
.ton {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    color: gray;
    padding: 11.8px 20px;
    border: rgb(231, 231, 231);
}
a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}
footerone {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
    font-size: 15px;
}
footertwo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}
.ko {
    float: left;
    margin-left: 30px;
}
.ad {
    float: left;
    margin-left: 30px;
    margin-bottom: 5px;
}
.bi {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.info {
    float: left;
    margin-left: 15px;
}
.se {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.pri {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.ro {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.set {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}