.google1 {
    position: absolute;
    text-align: center;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.gil {
    font-size: 13px;
}
.gmail {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.image {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.signin{
    float: right;
    margin-right: 15px;
    background-color: rgb(113, 113, 255);
    border: rgb(113, 113, 255);
    color: white;
    padding: 5px 15px;

}
#searching {
    border-radius: 100px;
    border: 1px solid rgb(231, 231, 231);
    width: 550px;
    display: flex;
    margin-bottom: 30px;
}
.searchtext {
    border: none;
    width: 300px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 9px;
    outline: none;
    margin-right: 110px;
}
.searchimg {
    width: 43px;
    height: 43px;
    margin-left: 10px;
    margin-top: 2px;
}
.keyboard {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-right :20px;
}
.mic {
    width: 25px;
    height: 25px;
    margin-top: 12px;
}
.button1 {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    color: gray;
    padding: 10px 20px;
    border: rgb(231, 231, 231);
    cursor: pointer;
}
.button2 {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    color: gray;
    padding: 11.8px 20px;
    border: rgb(231, 231, 231);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}
footerone {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
    font-size: 15px;
    border-bottom: 1px solid rgb(100, 100, 100);
}
footertwo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}
.ko {
    float: left;
    margin-left: 30px;
}
.ad {
    float: left;
    margin-left: 30px;
    margin-bottom: 5px;
}
.bi {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.info {
    float: left;
    margin-left: 15px;
}
.se {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.pri {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.ro {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.set {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}