@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

//.Background-box {
    //width: 512px;
    //height: 898px;
    //background-color: #eeeeee;
//}
.Artwork {
    width: 420px;
    height: 304px;
    object-fit: contain;
    margin-bottom: 19px;
}
.Lucky-Draw-Area {
    //width: 448px;
    height: 769px;
    background-color: #eeeeee;
}