.month > span {
    font-size: 170px;
    color: rgb(116, 116, 116);
    padding-left: 55px;
}
.month {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid rgb(116, 116, 116);
    margin: 0 auto;
    z-index: 1;
}
table, th, td {
    border: 2px solid rgb(116, 116, 116);
    background-color: white;
    border-collapse: collapse;
}
th {
    width: 220px;
    height: 50px;
}
td{
    width: 220px;
    height: 340px;
}
.weeklyplaner {
    width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
}
.allcontents {
    margin-top: 80px;
}
.make {
    width: 700px;
    height: 40px;
    border: 2px solid rgb(116, 116, 116);
    font-size: 18px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    padding-left: 10px;
    background-color: rgb(235, 235, 235);
}